<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <title>Administrator Interface</title>
</head>
<body>

    <h1>Administrator Interface</h1>
    
    <!-- Tabs -->
    <div class="tabs">
        <button onclick="openTab('session')">Session</button>
        <button onclick="openTab('restaurant')">Restaurant</button>
        <button onclick="openTab('menu')">Menu</button>
        <button onclick="openTab('dish')">Dish</button>
        <button onclick="openTab('users')">Users</button>
    </div>
    
    <div id="session" class="tab-content">
        <div class="sub-tabs" id="sessionSubTabs">
            <button onclick="openSubTab('deleteAllData')">Delete Session</button>
        </div>
    
        <div id="deleteAllData" class="sub-tab-content">
            <form id="deleteAllDataForm">
                <button onclick="confirmDeleteAllData()">Delete All Data</button>
            </form>
        </div>
    </div>
    
    <div id="restaurant" class="tab-content">
        <div class="sub-tabs" id="restaurantSubTabs">
            <button onclick="openSubTab('viewRestaurants')">View restaurants</button>
            <button onclick="openSubTab('searchRestaurant')">Search restaurant</button>
            <button onclick="openSubTab('changeStatusRestaurant')">Change status restaurant</button>
            <button onclick="openSubTab('deleteRestaurant')">Delete restaurant</button>
            <button onclick="openSubTab('addRestaurant')">Add restaurant</button>
        </div>

        <div id="viewRestaurants" class="sub-tab-content">
            <button onclick="loadRestaurant()">Load Restaurants</button>
        </div>

        <div id="searchRestaurant" class="sub-tab-content">
           
            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Search by restaurants parameters" required>
                <input type="submit" value="Search">
            </form>
            
            <div id="searchResults"></div>
        </div>

            <div id="changeStatusRestaurant" class="sub-tab-content"> 
                <form id="changeStatusRestaurantForm">
                    <label for="RestaurantId">Restaurant ID:</label>
                    <input type="number" id="RestaurantId" placeholder="Enter Restaurant ID" required min="1">
                
                    <label for="newStatus">New Status:</label>
                    <select id="newStatus" required>
                        <option value="Open">Open</option>
                        <option value="Close">Close</option>
                    </select>
            
                    <input type="submit" value="Change Status">
                </form>
            </div>
        <div id="deleteRestaurant" class="sub-tab-content">
            <form id="deleteRestaurantForm">
                <label for="RestaurantIdToDelete">Restaurant ID:</label>
                <input type="number" id="RestaurantIdToDelete" placeholder="Enter Restaurant ID" required min="1">
                <input type="submit" value="Delete Restaurant">
                <button onclick="confirmDeleteAllRestaurants()">Delete All Restaurants</button>
            </form>
        </div>
        <div id="addRestaurant" class="sub-tab-content">
            <form id="addRestaurantForm" method="post" enctype="multipart/form-data">
                <label for="RestaurantName">Restaurant Name:</label>
                <input type="text" id="RestaurantName" placeholder="Enter restaurant name" required>

                <label for="Status">Status:</label>
                <select id="Status" required>
                    <option value="Open">Open</option>
                    <option value="Close">Close</option>
                </select>

                <label for="RestaurantImage">Restaurant Image:</label>
                <input type="file" id="RestaurantImage" name="Restaurant_image" multiple>

                <input type="submit" value="Add Restaurant">
            </form>
        </div>
    </div>

    <div id="dish" class="tab-content">
        <div class="sub-tabs" id="dishSubTabs">
            <button onclick="openSubTab('AddDish')">Add dish</button>
            <button onclick="openSubTab('viewDish')">View dishes</button>
            <button onclick="openSubTab('searchDish')">Search dish</button>
            <button onclick="openSubTab('ChangePriceItem')">Change price dish</button>
            <button onclick="openSubTab('ChangeIngredients')">Change ingredients</button>
            <button onclick="openSubTab('ChangeNameItem')">Change name dish</button>
            <button onclick="openSubTab('ChangeImage')">Change image dish</button>
            <button onclick="openSubTab('DeleteDish')">Delete dish</button>
        </div>

        <div id="viewDish" class="sub-tab-content">
            <button onclick="loadRestaurant()">Load Restaurants</button>
        </div>

        <div id="searchDish" class="sub-tab-content">
           
            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Search by dish parameters" required>
                <input type="submit" value="Search">
            </form>
            
            <div id="searchResults"></div>
        </div>
    
        <div id="AddDish" class="sub-tab-content">
            <form id="addDishItemForm">

                <label for="DishIdForMenu">Menu ID:</label>
                <input type="text" id="DishIdForMenu" placeholder="Enter menu ID" required>

                <label for="DishItemName">Dish name:</label>
                <input type="text" id="DishItemName" placeholder="Enter dish name" required>
                
                <label for="DishItemIngredients">Dish ingridients:</label>
                <input type="text" id="DishItemIngredients" placeholder="Enter dish ingredients" required>

                <label for="DishItemPrice">Dish price:</label>
                <input type="number" id="DishItemPrice" placeholder="Enter dish price" required min="0">
    
                <label for="DishItemImageURL">Image URLs:</label>
                <input type="file" id="DishItemImageURL" name="Dish_images">

                <input type="submit" value="Add dish">
            </form>
        </div>

            <div id="ChangePriceItem" class="sub-tab-content">
                <form id="ChangePriceItemForm">

                    <label for="DishIDToModPrice">Dish ID:</label>
                    <input type="number" id="DishIDToModPrice" placeholder="Enter dish ID" required min="1">

                    <label for="NewDishPrice">Dish price:</label>
                    <input type="number" id="NewDishPrice" placeholder="Enter dish price" required min="0">
        
                    <input type="submit" value="Change price dish">
                </form>
            </div>

            <div id="ChangeIngredients" class="sub-tab-content">
                <form id="ChangeIngredientsForm">

                    <label for="DishIDToModIngredients">Dish ID:</label>
                    <input type="number" id="DishIDToModIngredients" placeholder="Enter dish ID" required min="1">

                    <label for="NewDishIngredients">Dish ingredients:</label>
                    <input type="text" id="NewDishIngredients" placeholder="Enter dish ingredients" required min="0">
        
                    <input type="submit" value="Change ingredients dish">
                </form>
            </div>

        <div id="ChangeNameItem" class="sub-tab-content">
            <form id="ChangeNameItemForm" method="post" enctype="multipart/form-data">

                <label for="DishIdToModName">Dish item ID:</label>
                <input type="number" id="DishIdToModName" placeholder="Enter dish ID" required min="1">
    
                <label for="NameToModify">Name:</label>
                <input type="text" id="NameToModify" placeholder="Enter dish name" required>
    
                <input type="submit" value="Change name dish">
            </form>
        </div>

        <div id="ChangeImage" class="sub-tab-content">
            <form id="ChangeImageForm">

                <label for="DishIdToModImage">Dish ID:</label>
                <input type="number" id="DishIdToModImage" placeholder="Enter dish ID" required min="1">

                <label for="DishImageChangeURL">Image URLs:</label>
                <input type="file" id="DishImageChangeURL" name="Dish_images">
    
                <input type="submit" value="Change image dish">
            </form>
        </div>
    
        <div id="DeleteDish" class="sub-tab-content">
            <form id="DeleteDishForm">
                <label for="DishIdToDelete">Dish ID to delete:</label>
                <input type="number" id="DishIdToDelete" placeholder="Enter dish ID" required min="1">
                <button type="submit">Delete dish</button>
            </form>
        
            <form id="deleteAllDishIdForm" onsubmit="confirmDeleteAllDishes(); return false;">
                <button type="submit">Delete all dishes</button>
            </form>
        </div>
    </div>

    <div id="menu" class="tab-content">
        <div class="sub-tabs" id="menuSubTabs">
            <button onclick="openSubTab('addMenu')">Add menu</button>
            <button onclick="openSubTab('viewMenu')">View menu</button>
            <button onclick="openSubTab('searchMenu')">Search menu</button>
            <button onclick="openSubTab('changeStatusMenu')">Change status menu</button>
            <button onclick="openSubTab('deleteMenu')">Delete menu</button>
        </div>

        <div id="viewMenu" class="sub-tab-content">
            <button onclick="loadRestaurant()">Load Restaurants</button>
        </div>

        <div id="searchMenu" class="sub-tab-content">
           
            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Search by menu parameters" required>
                <input type="submit" value="Search">
            </form>
            
            <div id="searchResults"></div>
        </div>

            <div id="changeStatusMenu" class="sub-tab-content"> 
                <form id="changeStatusMenuForm">
                    <label for="MenuId">Menu ID:</label>
                    <input type="number" id="MenuId" placeholder="Enter menu ID" required min="1">
                
                    <label for="newStatusMenu">New Status:</label>
                    <select id="newStatusMenu" required>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
            
                    <input type="submit" value="Change Status">
                </form>
            </div>

        <div id="deleteMenu" class="sub-tab-content">
            <form id="deleteMenuForm">
                <label for="MenuIdToDelete">Menu ID:</label>
                <input type="number" id="MenuIdToDelete" placeholder="Enter menu ID" required min="1">
                <input type="submit" value="Delete Menu">
                <button onclick="confirmDeleteAllMenu()">Delete all menu</button>
            </form>
        </div>

        <div id="addMenu" class="sub-tab-content">
            <form id="addMenuForm">

                <label for="RestaurantIdForMenu">Restaurant ID:</label>
                <input type="text" id="RestaurantIdForMenu" placeholder="Enter restaurant ID" required>
        
                <label for="MenuName">Menu Name:</label>
                <input type="text" id="MenuName" placeholder="Enter menu name" required>

                <label for="StatusMenu">Status:</label>
                <select id="StatusMenu" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <input type="submit" value="Add menu">
            </form>
        </div>
    </div>

        <div id="users" class="tab-content">
            <div class="sub-tabs" id="usersSubTabs">
                <button onclick="openSubTab('addUser')">Add</button>
                <button onclick="openSubTab('deleteUser')">Delete</button>
            </div>
        
            <div id="addUser" class="sub-tab-content">
                <form id="addUserForm">
                    <label for="UserName">User name:</label>
                    <input type="text" id="UserName" placeholder="Enter user name" required>
        
                    <label for="UserEmail">Email:</label>
                    <input type="email" id="UserEmail" placeholder="Enter email" required>
                    
                    <label for="UserPassword">Password:</label>
                    <input type="password" id="UserPassword" placeholder="Enter password" required>

                    <label for="role">Role:</label>
                    <select id="role" required>
                        <option value="Active">Administrator</option>
                        <option value="Inactive">User</option>
                    </select>
        
                    <input type="submit" value="Add user">
                </form>
            </div>
        
            <div id="deleteUser" class="sub-tab-content">
                <form id="deleteUserForm">
                    <label for="UserIdToDelete">User ID to Delete:</label>
                    <input type="text" id="UserIdToDelete" placeholder="Enter user ID" required min="1">
                    <button type="submit">Delete user</button>
                </form>
            </div>
        </div>
    
    <script>

const commonOptions = {
    positionClass: 'toast-top-right',
    progressBar: true,
    timeOut: 5000,
    closeButton: true,
    tapToDismiss: false,
    newestOnTop: false,
    showDuration: 300,
    hideDuration: 1000,
    titleClass: 'toast-title',
    messageClass: 'toast-message'
};

function openSubTab(subTabName) {
    debugger;
    var subTab = document.getElementById(subTabName);
    var subTabs = document.getElementsByClassName("sub-tab-content");

    for (var i = 0; i < subTabs.length; i++) {
        if (subTabs[i] !== subTab) {
            subTabs[i].style.display = "none";
        }
    }

    subTab.style.display = subTab.style.display === "block" ? "none" : "block";
}

function openTab(tabName) {
    var tab = document.getElementById(tabName);
    var tabs = document.getElementsByClassName("tab-content");

    for (var i = 0; i < tabs.length; i++) {
        if (tabs[i] !== tab) {
            tabs[i].style.display = "none";
        }
    }
    
    tab.style.display = window.getComputedStyle(tab).display === "block" ? "none" : "block";
}

function confirmDeleteAllData() {
    event.preventDefault();
    var confirmDelete = confirm("Are you sure you want to delete all data?");
    
    if (confirmDelete) {
        axios.post('/delete_all_data')
            .then(response => {
                console.log(response.data);
                toastr.success('<i class="toast-icon fas fa-check-circle"></i>All data successfully deleted', 'Success', {
                    ...commonOptions,
                    iconClass: 'toast-success'
                });
            })
            .catch(error => {
                console.error(error.response.data);
                toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all data', 'Error', {
                    ...commonOptions,
                    iconClass: 'toast-error'
                });
            });
    }
}

document.getElementById('changeStatusRestaurant').addEventListener('submit', function (event) {
    event.preventDefault();
   
    const RestaurantId = document.getElementById('RestaurantId').value;
    const newStatus = document.getElementById('newStatus').value;
 
    changeStatusRestaurant(RestaurantId, newStatus);
});

function changeStatusRestaurant(RestaurantId, newStatus) {
    axios.post('/change_status_restaurant', {
        RestaurantId: RestaurantId,
        newStatus: newStatus
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order status successfully changed', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error changing order status:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error changing order status', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('deleteRestaurant').addEventListener('submit', function (event) {
        event.preventDefault();
        const RestaurantIdToDelete = document.getElementById('RestaurantIdToDelete').value;
        deleteRestaurant(RestaurantIdToDelete);
});

    function confirmDeleteAllRestaurants() {
    var confirmDelete = confirm("Are you sure you want to delete all restaurants?");
    if (confirmDelete) {
        deleteAllrestaurants();
    }
}

function deleteAllrestaurants() {
    axios.post('/delete_all_restaurants')
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>All orders successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error(error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all orders', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

function deleteRestaurant(RestaurantIdToDelete) {
    axios.post('/delete_restaurant', {
            RestaurantId: RestaurantIdToDelete
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error deleting order:', error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting order', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}


document.getElementById('addRestaurantForm').addEventListener('submit', function (event) {
        event.preventDefault();
        
        const RestaurantName = document.getElementById('RestaurantName').value;
        const Status = document.getElementById('Status').value;
        const RestaurantImageFiles = document.getElementById('RestaurantImage').files;

        // Создаем объект FormData для передачи данных формы, включая файлы
        const formData = new FormData();
        formData.append('RestaurantName', RestaurantName);
        formData.append('Status', Status);

        // Добавляем все выбранные файлы изображений к FormData
        for (const file of RestaurantImageFiles) {
            formData.append('RestaurantImage', file);
        }

        addRestaurant(formData);
    });

    function addRestaurant(formData) {
        axios.post('/add_restaurant', formData)
            .then(response => {
                console.log(response.data);
                toastr.success('<i class="toast-icon fas fa-check-circle"></i>Restaurant successfully added', 'Success', {
                    ...commonOptions,
                    iconClass: 'toast-success'
                });
            })
            .catch(error => {
                console.error('Error adding restaurant:', error);
                toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding restaurant', 'Error', {
                    ...commonOptions,
                    iconClass: 'toast-error'
                });
            });
    }

document.getElementById('addDishItemForm').addEventListener('submit', function (event) {
    event.preventDefault();  
    
    const DishItemName = document.getElementById('DishItemName').value;
    const DishItemPrice = document.getElementById('DishItemPrice').value; 
    const DishIdForMenu = document.getElementById('DishIdForMenu').value; 
    const DishItemIngredients = document.getElementById('DishItemIngredients').value;
    const DishItemImageURL = document.getElementById('DishItemImageURL').files[0];

// Создаем объект FormData для передачи данных формы, включая файлы
    const formData = new FormData();
    formData.append('DishItemName', DishItemName);
    formData.append('DishItemPrice', DishItemPrice);
    formData.append('DishIdForMenu', DishIdForMenu);
    formData.append('DishItemIngredients', DishItemIngredients);
    formData.append('DishItemImageURL', DishItemImageURL);

    addDish(formData);
});

function addDish(formData) {
    axios.post('/add_dish', formData)
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Restaurant successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding restaurant:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding restaurant', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('DeleteDishForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const DishIdToDelete = document.getElementById('DishIdToDelete').value;
    DeleteDish(DishIdToDelete);
});

function DeleteDish(DishIdToDelete) {
    axios.post('/delete_dish', {
        DishIdToDelete: DishIdToDelete
    })
    .then(response => {
        console.log('Response:', response.data);  
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Dish successfully deleted', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting dish:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting dish', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

function confirmDeleteAllDishes() {
    var confirmDelete = confirm("Are you sure you want to delete all dishes?");
    if (confirmDelete) {
        deleteAllDishes();
    }
}

function deleteAllDishes() {
    fetch('/delete_all_dishes', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>All dishes deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

document.getElementById('ChangePriceItem').addEventListener('submit', function (event) {
    event.preventDefault();
    const DishIDToModPrice = document.getElementById('DishIDToModPrice').value;
    const NewDishPrice = document.getElementById('NewDishPrice').value;
    ChangePriceItem(DishIDToModPrice, NewDishPrice);
});
   
function ChangePriceItem(DishIDToModPrice, NewDishPrice) {
    axios.post('/change_price_item', {
        DishIDToModPrice: DishIDToModPrice,
        NewDishPrice: NewDishPrice
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Dish price change successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error dish price change:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error dish price change', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('ChangeNameItemForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const DishIdToModName = document.getElementById('DishIdToModName').value;
    const NameToModify = document.getElementById('NameToModify').value;
    ChangeNameItem(DishIdToModName, NameToModify);
});
   
function ChangeNameItem(DishIdToModName, NameToModify) {
    axios.post('/change_name_item', {
        DishIdToModName: DishIdToModName,
        NameToModify: NameToModify
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Dish name change successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error dish name change:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error dish name change', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


document.getElementById('ChangeIngredientsForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const DishIDToModIngredients = document.getElementById('DishIDToModIngredients').value;
    const NewDishIngredients = document.getElementById('NewDishIngredients').value;
    ChangeIngredients(DishIDToModIngredients, NewDishIngredients);
});
   
function ChangeIngredients(DishIDToModIngredients, NewDishIngredients) {
    axios.post('/change_ingredients', {
        DishIDToModIngredients: DishIDToModIngredients,
        NewDishIngredients: NewDishIngredients
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Indigrients change successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error indigrients change:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error indigrients change', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('ChangeImageForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const DishIdToModImage = document.getElementById('DishIdToModImage').value;
    const DishImageChangeURL = document.getElementById('DishImageChangeURL').files[0];

    const formData = new FormData();
    formData.append('DishIdToModImage', DishIdToModImage);
    formData.append('DishImageChangeURL', DishImageChangeURL);

    ChangeImageItem(formData);
});

function ChangeImageItem(formData) {
    axios.post('/change_image_item', formData)
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Restaurant successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding restaurant:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding restaurant', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('changeStatusMenuForm').addEventListener('submit', function (event) {
    event.preventDefault();
    
    const MenuId = document.getElementById('MenuId').value;
    const newStatus = document.getElementById('newStatusMenu').value;
 
    changeStatusMenu(MenuId, newStatus);
});

function changeStatusMenu(MenuId, newStatus) {
    axios.post('/change_status_menu', {
        MenuId: MenuId,
        newStatus: newStatus
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Menu status successfully changed', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error changing menu status:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error changing menu status', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('deleteMenuForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const MenuIdToDelete = document.getElementById('MenuIdToDelete').value;
    DeleteMenu(MenuIdToDelete);
});

function DeleteMenu(MenuIdToDelete) {
    axios.post('/delete_menu', {
        MenuIdToDelete: MenuIdToDelete
    })
    .then(response => {
        console.log('Response:', response.data);  
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Menu successfully deleted', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting menu:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting menu', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


function confirmDeleteAllMenu() {
    var confirmDelete = confirm("Are you sure you want to delete all menu?");
    if (confirmDelete) {
        deleteAllMenu();
    }
}

function deleteAllMenu() {
    axios.post('/delete_all_menu')
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>All menu successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error(error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all menu', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}


document.getElementById('addMenuForm').addEventListener('submit', function (event) {
    event.preventDefault();  
    
    const MenuName = document.getElementById('MenuName').value;
    const Status = document.getElementById('StatusMenu').value;
    const RestaurantIdForMenu = document.getElementById('RestaurantIdForMenu').value; 
    
    AddMenu(MenuName, Status, RestaurantIdForMenu);
});

// Функция для добавления меню
function AddMenu(MenuName, Status, RestaurantIdForMenu) {
    axios.post('/add_menu', {
            MenuName : MenuName,
            Status : Status,
            RestaurantIdForMenu : RestaurantIdForMenu, 
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Menu successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error add menu:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding menu', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('addUserForm').addEventListener('submit', async function (event) {
    event.preventDefault();
    
    const username = document.getElementById('UserName').value;
    const email = document.getElementById('UserEmail').value;
    const role = document.getElementById('role').value;
    const password_hash = document.getElementById('UserPassword').value;
    addUser(username, email, password_hash, role);
});

function addUser(username, email, password_hash, role) {
    axios.post('/add_user', {
        username: username,
        email: email,
        password_hash: password_hash,
        role: role
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>User added successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error adding user:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding user', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('deleteUserForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const user_id = document.getElementById('UserIdToDelete').value;
    deleteUser(user_id);
});

function deleteUser(user_id) {
    axios.post('/delete_user', {
        user_id: user_id
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>User deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting employee:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting user', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('searchForm').addEventListener('submit', function (event) {
    event.preventDefault(); 
    const searchQuery = document.getElementById('searchQuery').value;
    searchRestaurants(searchQuery);
});

function searchRestaurants(searchQuery) {
    axios.get(`/search_restaurants?search_query=${searchQuery}`)
        .then(response => {
            const restaurants = response.data; 
            const searchResultsContainer = document.getElementById('searchResults'); 
            const table = document.createElement('table');
            table.border = '1';

            // Указываем новый порядок столбцов
            const columns = ['id', 'name', 'image', 'status']; 

            // Заголовок таблицы
            const headerRow = document.createElement('tr');
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                headerRow.appendChild(th);
            });
            table.appendChild(headerRow);

            // Данные ресторанов
            restaurants.forEach(restaurant => { 
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = restaurant[column]; 
                    row.appendChild(td);
                });
                table.appendChild(row);
            });

            searchResultsContainer.innerHTML = '';
            searchResultsContainer.appendChild(table);
        })
        .catch(error => {
            console.error('Error searching restaurants:', error);
        });
}

function loadRestaurant() {
    axios.get('/fetch_restaurants')
        .then(response => {
            const restaurants = response.data; 
            const restaurantsContainer = document.getElementById('viewRestaurants');
            const table = document.createElement('table');
            table.border = '1';

            const columns = ['id', 'name', 'image', 'status'];

            // Заголовок таблицы
            const headerRow = document.createElement('tr');
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                headerRow.appendChild(th);
            });
            table.appendChild(headerRow);

            // Данные ресторанов
            restaurants.forEach(restaurant => { 
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = restaurant[column];
                    row.appendChild(td);
                });
                table.appendChild(row);
            });

            restaurantsContainer.innerHTML = '';
            restaurantsContainer.appendChild(table);
        })
        .catch(error => {
            console.error('Error fetching restaurants:', error);
        });
}

    </script>
</body>
</html>
