<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <title>Administrator Interface</title>
</head>
<body>

    <h1>Administrator Interface</h1>
    
    <!-- Tabs -->
    <div class="tabs">
        <button onclick="openTab('session')">Session</button>
        <button onclick="openTab('restaurant')">Restaurant</button>
        <button onclick="openTab('menu')">Menu</button>
        <button onclick="openTab('users')">Users</button>
    </div>
    
    <div id="session" class="tab-content">
        <div class="sub-tabs" id="sessionSubTabs">
            <button onclick="openSubTab('deleteAllData')">Delete Session</button>
        </div>
    
        <div id="deleteAllData" class="sub-tab-content">
            <form id="deleteAllDataForm">
                <button onclick="confirmDeleteAllData()">Delete All Data</button>
            </form>
        </div>
    </div>
    

    <div id="restaurant" class="tab-content">
        <!-- Sub-tabs for the "Orders" tab -->
        <div class="sub-tabs" id="restaurantSubTabs">
            <button onclick="openSubTab('viewRestaurants')">View</button>
            <button onclick="openSubTab('searchRestaurant')">Search</button>
            <button onclick="openSubTab('changeStatusRestaurant')">Change Status</button>
            <button onclick="openSubTab('deleteRestaurant')">Delete</button>
            <button onclick="openSubTab('addRestaurant')">Add</button>
        </div>
        <!-- Content of sub-tabs for the "Orders" tab -->
        <div id="viewRestaurants" class="sub-tab-content">
            <button onclick="loadRestaurant()">Load Restaurants</button>
        </div>

        <div id="searchRestaurant" class="sub-tab-content">
            <!-- Code for searching orders by parameters -->
            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Search by restaurants parameters" required>
                <input type="submit" value="Search">
            </form>
            
            <!-- Content for displaying search results ОШИБКА  sub-tab-content -->
            <div id="searchResults"></div>
        </div>

            <div id="changeStatusRestaurant" class="sub-tab-content"> 
                <form id="changeStatusRestaurantForm">
                    <label for="RestaurantId">Restaurant ID:</label>
                    <input type="number" id="RestaurantId" placeholder="Enter Restaurant ID" required min="1">
                
                    <label for="newStatus">New Status:</label>
                    <select id="newStatus" required>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
            
                    <input type="submit" value="Change Status">
                </form>
            </div>
        <div id="deleteRestaurant" class="sub-tab-content">
            <form id="deleteRestaurantForm">
                <label for="RestaurantIdToDelete">Restaurant ID:</label>
                <input type="number" id="RestaurantIdToDelete" placeholder="Enter Restaurant ID" required min="1">
                <input type="submit" value="Delete Restaurant">
                <button onclick="confirmDeleteAllRestaurants()">Delete All Restaurants</button>
            </form>
        </div>
        <div id="addRestaurant" class="sub-tab-content">
            <form id="addRestaurantForm">
                <label for="RestaurantName">Restaurant Name:</label>
                <input type="text" id="RestaurantName" placeholder="Enter restaurant name" required>

                <label for="Status">Status:</label>
                <select id="Status" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>

                <label for="Image">Restaurant Image:</label>
                <input type="text" id="Image" name="Restaurant_image" placeholder="URL or path">
        
                <input type="submit" value="Add Restaurant">
            </form>
        </div>
    </div>

    <div id="menu" class="tab-content">
        <!-- Sub-tabs for the "Products" tab -->
        <div class="sub-tabs" id="menuSubTabs">
            <button onclick="openSubTab('AddMenuItem')">Add menu item</button>
            <button onclick="openSubTab('ChangePriceItem')">Change price menu item</button>
            <button onclick="openSubTab('ChangeNameItem')">Change name menu item</button>
            <button onclick="openSubTab('ChangeImage')">Change image menu item</button>
            <button onclick="openSubTab('DeleteMenuItem')">Delete menu item</button>
            <button onclick="openSubTab('ChangeStatuseItem')">Change status menu item</button>
        </div>
    
        <!-- Content of sub-tabs for the "Products" tab -->
        <div id="AddMenuItem" class="sub-tab-content">
            <!-- Form for adding a product -->
            <form id="AddMenuItemForm">

                <label for="MenuIdForRestaurant">Restautant ID:</label>
                <input type="text" id="MenuIdForRestaurant" placeholder="Enter product ID" required>

                <label for="MenuItemName">Menu item name:</label>
                <input type="text" id="MenuItemName" placeholder="Enter menu item name" required>

                <label for="MenuItemPrice">Menu item price:</label>
                <input type="number" id="MenuItemPrice" placeholder="Enter menu item price" required min="0">
    
                <label for="MenuItemImageURL">Image URL:</label>
                <input type="text" id="MenuItemImageURL" placeholder="Enter image URL" required>

                <label for="Status">Status:</label>
                <select id="Status" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
    
                <input type="submit" value="Add menu item">
            </form>
        </div>

            <div id="ChangePriceItem" class="sub-tab-content">
                <form id="ChangePriceItemForm">

                    <label for="MenuIdForRestaurantPrice">Restautant ID:</label>
                    <input type="number" id="MenuIdForRestaurantPrice" placeholder="Enter product ID" required min ="1">

                    <label for="MenuItemIdToModifyPrice">Menu item ID:</label>
                    <input type="number" id="MenuItemIdToModifyPrice" placeholder="Enter  menu item ID" required min="1">

                    <label for="NewMenuItemPrice">Menu item price:</label>
                    <input type="number" id="NewMenuItemPrice" placeholder="Enter menu item price" required min="0">
        
                    <input type="submit" value="Change price menu item">
                </form>
            </div>

        <div id="ChangeNameItem" class="sub-tab-content">
            <form id="ChangeNameItemForm">

                <label for="MenuIdForRestaurantName">Restautant ID:</label>
                <input type="number" id="MenuIdForRestaurantName" placeholder="Enter product ID" required>

                <label for="MenuItemIdToModifyName">Menu item ID:</label>
                <input type="number" id="MenuItemIdToModifyName" placeholder="Enter  menu item ID" required min="1">
    
                <label for="NameToModify">Name:</label>
                <input type="text" id="NameToModify" placeholder="Enter menu item name" required>
    
                <input type="submit" value="Change name menu item">
            </form>
        </div>

        <div id="ChangeImage" class="sub-tab-content">
            <form id="ChangeImageForm">

                <label for="MenuIdForRestaurantImage">Restautant ID:</label>
                <input type="number" id="MenuIdForRestaurantImage" placeholder="Enter product ID" required>

                <label for="MenuItemIdToModifyImage">Menu item ID:</label>
                <input type="number" id="MenuItemIdToModifyImage" placeholder="Enter  menu item ID" required min="1">
    
                <label for="MenuItemImageChangeURL">Image URL:</label>
                <input type="text" id="MenuItemImageChangeURL" placeholder="Enter image URL" required>
    
                <input type="submit" value="Change image menu item">
            </form>
        </div>
    
        <!-- Form for deleting a product and model in the same tab -->
        <div id="DeleteMenuItem" class="sub-tab-content">
            <!-- Form for deleting a product -->
            <form id="DeleteMenuItemForm">
                <label for="MenuItemIdToDelete">Menu item ID to Delete:</label>
                <input type="number" id="MenuItemIdToDelete" placeholder="Enter menu item ID" required min="1">
                <button type="submit">Delete menu item</button>
            </form>
        
            <!-- Form for deleting all models -->
            <form id="deleteAllMenuItemIdForm" onsubmit="DeleteAllMenuItem(); return false;">
                <button type="submit">Delete all menu item</button>
            </form>
        </div>

        <div id="ChangeStatuseItem" class="sub-tab-content"> 
            <form id="ChangeStatuseItemForm">
                <label for="MenuId">Menu ID:</label>
                <input type="number" id="MenuId" placeholder="Enter Menu ID" required min="1">
            
                <label for="newStatusItem">New Status:</label>
                <select id="newStatusItem" required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
        
                <input type="submit" value="Change Status">
            </form>
        </div>
    </div>
    
        <div id="users" class="tab-content">
            <!-- Sub-tabs for the "Employees" tab -->
            <div class="sub-tabs" id="usersSubTabs">
                <button onclick="openSubTab('addUser')">Add</button>
                <button onclick="openSubTab('deleteUser')">Delete</button>
            </div>
        
            <!-- Content of sub-tabs for the "Employees" tab -->
            <div id="addUser" class="sub-tab-content">
                <!-- Form for adding an employee -->
                <form id="addUserForm">
                    <label for="UserName">User name:</label>
                    <input type="text" id="UserName" placeholder="Enter user name" required>
        
                    <label for="UserEmail">Email:</label>
                    <input type="email" id="UserEmail" placeholder="Enter email" required>
                    
                    <label for="UserPassword">Password:</label>
                    <input type="password" id="UserPassword" placeholder="Enter password" required>

                    <label for="role">Role:</label>
                    <select id="role" required>
                        <option value="Active">Administrator</option>
                        <option value="Inactive">User</option>
                    </select>
        
                    <input type="submit" value="Add user">
                </form>
            </div>
        
            <!-- Form for deleting an employee -->
            <div id="deleteUser" class="sub-tab-content">
                <form id="deleteUserForm">
                    <label for="UserIdToDelete">User ID to Delete:</label>
                    <input type="text" id="UserIdToDelete" placeholder="Enter user ID" required min="1">
                    <button type="submit">Delete user</button>
                </form>
            </div>
        </div>
    
    <script>

const commonOptions = {
    positionClass: 'toast-top-right',
    progressBar: true,
    timeOut: 5000,
    closeButton: true,
    tapToDismiss: false,
    newestOnTop: false,
    showDuration: 300,
    hideDuration: 1000,
    titleClass: 'toast-title',
    messageClass: 'toast-message'
};

function openSubTab(subTabName) {
    var subTab = document.getElementById(subTabName);
    var subTabs = document.getElementsByClassName("sub-tab-content");

    console.log("Opening subtab: " + subTabName);

    // Закрываем все подвкладки, кроме выбранной
    for (var i = 0; i < subTabs.length; i++) {
        if (subTabs[i] !== subTab) {
            subTabs[i].style.display = "none";
            console.log("Closing subtab: " + subTabs[i].id);
        }
    }

    // Переключаем видимость текущей подвкладки
    subTab.style.display = subTab.style.display === "block" ? "none" : "block";

    console.log("Subtab visibility toggled: " + subTab.style.display);

}

function openTab(tabName) {
    var tab = document.getElementById(tabName);
    var tabs = document.getElementsByClassName("tab-content");

    console.log("Opening tab: " + tabName);

    // Закрываем все вкладки, кроме выбранной
    for (var i = 0; i < tabs.length; i++) {
        if (tabs[i] !== tab) {
            tabs[i].style.display = "none";
            console.log("Closing tab: " + tabs[i].id);
        }
    }
    
    // Переключаем видимость текущей вкладки
    tab.style.display = window.getComputedStyle(tab).display === "block" ? "none" : "block";

    console.log("Tab visibility toggled: " + tab.style.display);
}

function confirmDeleteAllData() {
    event.preventDefault();
    var confirmDelete = confirm("Are you sure you want to delete all data?");
    
    if (confirmDelete) {
        axios.post('/delete_all_data')
            .then(response => {
                console.log(response.data);
                toastr.success('<i class="toast-icon fas fa-check-circle"></i>All data successfully deleted', 'Success', {
                    ...commonOptions,
                    iconClass: 'toast-success'
                });
            })
            .catch(error => {
                console.error(error.response.data);
                toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all data', 'Error', {
                    ...commonOptions,
                    iconClass: 'toast-error'
                });
            });
    }
}

document.getElementById('changeStatusRestaurant').addEventListener('submit', function (event) {
    event.preventDefault();
    
    // Получаем значения из формы
    const RestaurantId = document.getElementById('RestaurantId').value;
    const newStatus = document.getElementById('newStatus').value;
 
    changeStatusRestaurant(RestaurantId, newStatus);
});

function changeStatusRestaurant(RestaurantId, newStatus) {
    axios.post('/change_status_restaurant', {
        RestaurantId: RestaurantId,
        newStatus: newStatus
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order status successfully changed', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error changing order status:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error changing order status', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

// Функция для удаления отдельного заказа
document.getElementById('deleteRestaurant').addEventListener('submit', function (event) {
        event.preventDefault();
        const RestaurantIdToDelete = document.getElementById('RestaurantIdToDelete').value;
        deleteRestaurant(RestaurantIdToDelete);
});

    function confirmDeleteAllRestaurants() {
    var confirmDelete = confirm("Are you sure you want to delete all restaurants?");
    if (confirmDelete) {
        deleteAllrestaurants();
    }
}

function deleteAllrestaurants() {
    axios.post('/delete_all_restaurants')
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>All orders successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error(error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all orders', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

// Функция для удаления отдельного ресторана
function deleteRestaurant(RestaurantIdToDelete) {
    axios.post('/delete_restaurant', {
            RestaurantId: RestaurantIdToDelete
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error deleting order:', error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting order', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('addRestaurantForm').addEventListener('submit', function (event) {
event.preventDefault();
// Получаем значения из формы
const RestaurantName = document.getElementById('RestaurantName').value;
const Status = document.getElementById('Status').value;
const Image = document.getElementById('Image').value;

addRestaurant(RestaurantName,Status,Image);
});

function addRestaurant(RestaurantName,Status,Image) {
    axios.post('/add_restaurant', {
        RestaurantName : RestaurantName,
             Status: Status,
             Image : Image
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding order:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding order', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

    document.getElementById('AddMenuItemForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Предотвращаем стандартное поведение формы (перезагрузка страницы)
    // Получаем значения из формы
    const MenuItemName = document.getElementById('MenuItemName').value;
    const MenuItemPrice = document.getElementById('MenuItemPrice').value; 
    const MenuIdForRestaurant = document.getElementById('MenuIdForRestaurant').value; 
    const MenuItemImageURL = document.getElementById('MenuItemImageURL').value; 
    const Status = document.getElementById('Status').value; 
    
    // Вызываем функцию для отправки запроса на добавление изделия
    addMenuItem(MenuItemName, MenuItemPrice,MenuIdForRestaurant,MenuItemImageURL ,Status);
});

// Функция для добавления меню
function addMenuItem(MenuItemName, MenuItemPrice,MenuIdForRestaurant,MenuItemImageURL, Status) {
    axios.post('/add_menu_item', {
            MenuItemName : MenuItemName,
            MenuItemPrice : MenuItemPrice,
            MenuIdForRestaurant : MenuIdForRestaurant,
            MenuItemImageURL : MenuItemImageURL, 
            Status : Status
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding product:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding product', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('DeleteMenuItemForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const MenuItemIdToDelete = document.getElementById('MenuItemIdToDelete').value;
    console.log('Deleting menu item with ID:', MenuItemIdToDelete); // Добавляем лог
    DeleteMenuItem(MenuItemIdToDelete);
});

function DeleteMenuItem(MenuItemIdToDelete) {
    axios.post('/delete_menu_item', {
        MenuItemIdToDelete: MenuItemIdToDelete
    })
    .then(response => {
        console.log('Response:', response.data); // Добавляем лог
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully deleted', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting order:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting order', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

function DeleteAllMenuItem() {
    fetch('/delete_all_menu_item', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>All products deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

document.getElementById('ChangePriceItem').addEventListener('submit', function (event) {
    event.preventDefault();
    const restaurant_id = document.getElementById('MenuIdForRestaurantPrice').value;
    const menu_id = document.getElementById('MenuItemIdToModifyPrice').value;
    const new_price = document.getElementById('NewMenuItemPrice').value;
    ChangePriceItem(restaurant_id, menu_id, new_price);
});
   
function ChangePriceItem(restaurant_id, menu_id, new_price) {
    axios.post('/change_price_item', {
        restaurant_id: restaurant_id,
        menu_id: menu_id,
        new_price: new_price
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product quantity modified successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error modifying product quantity:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error modifying product quantity', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('ChangeNameItemForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const restaurant_id = document.getElementById('MenuIdForRestaurantName').value;
    const menu_id = document.getElementById('MenuItemIdToModifyName').value;
    const new_name = document.getElementById('NameToModify').value;
    ChangeNameItem(restaurant_id, menu_id, new_name);
});
   
function ChangeNameItem(restaurant_id, menu_id, new_name) {
    axios.post('/change_name_item', {
        restaurant_id: restaurant_id,
        menu_id: menu_id,
        new_name: new_name
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product quantity modified successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error modifying product quantity:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error modifying product quantity', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('ChangeImageForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const restaurant_id = document.getElementById('MenuIdForRestaurantImage').value;
    const menu_id = document.getElementById('MenuItemIdToModifyImage').value;
    const new_image = document.getElementById('MenuItemImageChangeURL').value;
    ChangeImageItem(restaurant_id, menu_id, new_image);
});
   
function ChangeImageItem(restaurant_id, menu_id, new_image) {
    axios.post('/change_image_item', {
        restaurant_id: restaurant_id,
        menu_id: menu_id,
        new_image: new_image
    })
    .then(response => {
        console.log("Response:", response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product quantity modified successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error modifying product quantity:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error modifying product quantity', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


document.getElementById('ChangeStatuseItemForm').addEventListener('submit', function (event) {
    event.preventDefault();
    
    // Получаем значения из формы
    const MenuId = document.getElementById('MenuId').value;
    const newStatus = document.getElementById('newStatusItem').value;
 
    changeStatusItem(MenuId, newStatus);
});

function changeStatusItem(MenuId, newStatus) {
    axios.post('/change_status_item', {
        MenuId: MenuId,
        newStatus: newStatus
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order status successfully changed', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error changing order status:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error changing order status', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


document.getElementById('addUserForm').addEventListener('submit', async function (event) {
    event.preventDefault();
    
    // Получаем значения из формы
    const username = document.getElementById('UserName').value;
console.log('Username:', username);

const email = document.getElementById('UserEmail').value;
console.log('Email:', email);

const role = document.getElementById('role').value;
console.log('Role:', role);

const password = document.getElementById('UserPassword').value;
console.log('Password:', password);

    
    
    // Хэшируем пароль
    const password_hash = await hashPassword(password);
    console.log('password_hash:', password_hash);
    // Вызываем функцию для отправки запроса на добавление сотрудника
    addUser(username, email, password_hash, role);
});

// Функция для хэширования пароля
async function hashPassword(password) {
    // Отправляем запрос на сервер для хэширования пароля
    const response = await axios.post('/hash_password', { password: password });
    // Возвращаем хэшированный пароль из ответа сервера
    return response.data.hashedPassword;
}

// Функция для отправки запроса на добавление сотрудника
function addUser(username, email, password_hash, role) {
    axios.post('/add_user', {
        username: username,
        email: email,
        password_hash: password_hash,
        role: role
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>User added successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error adding user:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding user', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

// Обработчик для формы удаления сотрудника
document.getElementById('deleteUserForm').addEventListener('submit', function (event) {
    event.preventDefault();

    // Получаем значение из формы
    const user_id = document.getElementById('UserIdToDelete').value;
    // Вызываем функцию для отправки запроса на удаление сотрудника
    deleteUser(user_id);
});

function deleteUser(user_id) {
    axios.post('/delete_user', {
        user_id: user_id
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>User deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting employee:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting user', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

document.getElementById('searchForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Эта строка предотвращает стандартное поведение формы (перезагрузка страницы)
    const searchQuery = document.getElementById('searchQuery').value;

    // Вызываем функцию для загрузки и отображения результатов поиска
    searchRestaurants(searchQuery);
});

function searchRestaurants(searchQuery) {
    axios.get(`/search_restaurants?search_query=${searchQuery}`)
        .then(response => {
            const restaurants = response.data; // Изменено на restaurants
            const searchResultsContainer = document.getElementById('searchResults'); // Изменено на searchResultsContainer
            const table = document.createElement('table');
            table.border = '1';

            // Указываем новый порядок столбцов
            const columns = ['id', 'name', 'image', 'status']; // Исправлена опечатка в 'imege'

            // Заголовок таблицы
            const headerRow = document.createElement('tr');
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                headerRow.appendChild(th);
            });
            table.appendChild(headerRow);

            // Данные ресторанов
            restaurants.forEach(restaurant => { // Изменено на restaurants
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = restaurant[column]; // Изменено на restaurant
                    row.appendChild(td);
                });
                table.appendChild(row);
            });

            searchResultsContainer.innerHTML = '';
            searchResultsContainer.appendChild(table);
        })
        .catch(error => {
            console.error('Error searching restaurants:', error);
        });
}

function loadRestaurant() {
    axios.get('/fetch_restaurants')
        .then(response => {
            const restaurants = response.data; // Заменил orders на restaurants
            const restaurantsContainer = document.getElementById('viewRestaurants');
            const table = document.createElement('table');
            table.border = '1';

            // Указываем новый порядок столбцов
            const columns = ['id', 'name', 'image', 'status'];

            // Заголовок таблицы
            const headerRow = document.createElement('tr');
            columns.forEach(column => {
                const th = document.createElement('th');
                th.textContent = column;
                headerRow.appendChild(th);
            });
            table.appendChild(headerRow);

            // Данные ресторанов
            restaurants.forEach(restaurant => { // Заменил orders на restaurants
                const row = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = restaurant[column]; // Заменил orders на restaurants
                    row.appendChild(td);
                });
                table.appendChild(row);
            });

            restaurantsContainer.innerHTML = '';
            restaurantsContainer.appendChild(table);
        })
        .catch(error => {
            console.error('Error fetching restaurants:', error);
        });
}

    </script>
</body>
</html>
