<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
    
    <title>Administrator Interface</title>
</head>
<body>

    <h1>Administrator Interface</h1>
    
    <!-- Tabs -->
    <div class="tabs">
        <button onclick="openTab('session')">Session</button>
        <button onclick="openTab('restaurant')">Restaurant</button>
        <button onclick="openTab('menu')">Menu</button>
        <button onclick="openTab('brend')">Brend</button>
        <button onclick="openTab('users')">Users</button>
    </div>
    
    <div id="session" class="tab-content">
        <div class="sub-tabs" id="sessionSubTabs">
            <button onclick="openSubTab('deleteAllData')">Delete Session</button>
        </div>
    
        <div id="deleteAllData" class="sub-tab-content">
            <form id="deleteAllDataForm">
                <button onclick="confirmDeleteAllData()">Delete All Data</button>
            </form>
        </div>
    </div>
    

    <div id="restaurant" class="tab-content">
        <!-- Sub-tabs for the "Orders" tab -->
        <div class="sub-tabs" id="restaurantSubTabs">
            <button onclick="openSubTab('viewRestaurants')">View</button>
            <button onclick="openSubTab('searchRestaurant')">Search</button>
            <button onclick="openSubTab('changeStatusRestaurant')">Change Status</button>
            <button onclick="openSubTab('deleteRestaurant')">Delete</button>
            <button onclick="openSubTab('addRestaurant')">Add</button>
        </div>
        <!-- Content of sub-tabs for the "Orders" tab -->
        <div id="viewRestaurants" class="sub-table-content">
              <script>openSubTab('viewRestaurants');</script>
        </div>

        <div id="searchRestaurant" class="sub-table-content">
            <!-- Code for searching orders by parameters -->
            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Search by restaurants parameters" required>
                <input type="submit" value="Search">
            </form>
            
            <!-- Content for displaying search results ОШИБКА  sub-tab-content -->
            <div id="searchResults"></div>
        </div>

            <div id="changeStatusRestaurant" class="sub-tab-content"> 
                <form id="changeStatusRestaurantForm">
                    <label for="RestaurantId">Restaurant ID:</label>
                    <input type="number" id="RestaurantId" placeholder="Enter Restaurant ID" required min="1">
                
                    <label for="newStatus">New Status:</label>
                    <select id="newStatus" required>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
            
                    <input type="submit" value="Change Status">
                </form>
            </div>
        <div id="deleteRestaurant" class="sub-tab-content">
            <form id="deleteRestaurantForm">
                <label for="RestaurantIdToDelete">Restaurant ID:</label>
                <input type="number" id="RestaurantIdToDelete" placeholder="Enter Restaurant ID" required min="1">
                <input type="submit" value="Delete Restaurant">
                <button onclick="confirmDeleteAllRestaurants()">Delete All Restaurants</button>
            </form>
        </div>
        <div id="addRestaurant" class="sub-tab-content">
            <form id="addRestaurantForm">
                <label for="RestaurantName">Restaurant Name:</label>
                <input type="text" id="RestaurantName" placeholder="Enter restaurant name" required>

                <label for="Status">Status:</label>
                <select id="Status" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>

                <label for="Image">Restaurant Image:</label>
                <input type="text" id="Image" name="Restaurant_image" placeholder="URL or path">
        
                <input type="submit" value="Add Restaurant">
            </form>
        </div>
    </div>

    <div id="menu" class="tab-content">
        <!-- Sub-tabs for the "Products" tab -->
        <div class="sub-tabs" id="menuSubTabs">
            <button onclick="openSubTab('AddMenuItem')">Add menu item</button>
            <button onclick="openSubTab('ChangePriceItem')">Change price menu item</button>
            <button onclick="openSubTab('ChangeNameItem')">Change name menu item</button>
            <button onclick="openSubTab('ChangeImage')">Change image menu item</button>
            <button onclick="openSubTab('DeleteMenuItem')">Delete menu item</button>
        </div>
    
        <!-- Content of sub-tabs for the "Products" tab -->
        <div id="AddMenuItem" class="sub-tab-content">
            <!-- Form for adding a product -->
            <form id="AddMenuItemForm">

                <label for="MenuIdForRestaurant">Restautant ID:</label>
                <input type="text" id="MenuIdForRestaurant" placeholder="Enter product ID" required>

                <label for="MenuItemName">Menu item name:</label>
                <input type="text" id="MenuItemName" placeholder="Enter menu item name" required>

                <label for="MenuItemPrice">Menu item price:</label>
                <input type="number" id="MenuItemPrice" placeholder="Enter menu item price" required min="0">
    
                <label for="MenuItemImageURL">Image URL:</label>
                <input type="text" id="MenuItemImageURL" placeholder="Enter image URL" required>

                <label for="Status">Status:</label>
                <select id="Status" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
    
                <input type="submit" value="Add menu item">
            </form>
        </div>

        <div id="ChangePriceItem" class="sub-tab-content">
            <form id="ChangePriceItem">

                <label for="MenuIdForRestaurant">Restautant ID:</label>
                <input type="text" id="MenuIdForRestaurant" placeholder="Enter product ID" required>

                <label for="MenuItemIdToModify">Menu item ID:</label>
                <input type="text" id="MenuItemIdToModify" placeholder="Enter  menu item ID" required min="1">

                <label for="MenuItemPrice">Menu item price:</label>
                <input type="number" id="MenuItemPrice" placeholder="Enter menu item price" required min="0">
    
                <input type="submit" value="Change price menu item">
            </form>
        </div>

        <div id="ChangeNameItem" class="sub-tab-content">
            <form id="ChangeNameItem">

                <label for="MenuIdForRestaurant">Restautant ID:</label>
                <input type="text" id="MenuIdForRestaurant" placeholder="Enter product ID" required>

                <label for="MenuItemIdToModify">Menu item ID:</label>
                <input type="text" id="MenuItemIdToModify" placeholder="Enter  menu item ID" required min="1">
    
                <label for="NameToModify">Name:</label>
                <input type="text" id="NameToModify" placeholder="Enter menu item name" required>
    
                <input type="submit" value="Change name menu item">
            </form>
        </div>

        <div id="ChangeImage" class="sub-tab-content">
            <form id="ChangeImage">

                <label for="MenuIdForRestaurant">Restautant ID:</label>
                <input type="text" id="MenuIdForRestaurant" placeholder="Enter product ID" required>

                <label for="MenuItemIdToModify">Menu item ID:</label>
                <input type="text" id="MenuItemIdToModify" placeholder="Enter  menu item ID" required min="1">
    
                <label for="MenuItemImageURL">Image URL:</label>
                <input type="text" id="MenuItemImageURL" placeholder="Enter image URL" required>
    
                <input type="submit" value="Change image menu item">
            </form>
        </div>
    
        <!-- Form for deleting a product and model in the same tab -->
        <div id="DeleteMenuItem" class="sub-tab-content">
            <!-- Form for deleting a product -->
            <form id="DeleteMenuItemForm" onsubmit="DeleteMenuItem(); return false;">
                <label for="MenuItemIdToDelete">Menu item ID to Delete:</label>
                <input type="number" id="MenuItemIdToDelete" placeholder="Enter menu item ID" required min="1">
                <button type="submit">Delete menu item</button>
            </form>
    
            <!-- Form for deleting all models -->
            <form id="deleteAllMenuItemIdForm" onsubmit="DeleteAllMenuItem(); return false;">
                <button type="submit">Delete all menu item</button>
            </form>
        </div>
    </div>
    
        <div id="users" class="tab-content">
            <!-- Sub-tabs for the "Employees" tab -->
            <div class="sub-tabs" id="usersSubTabs">
                <button onclick="openSubTab('addUser')">Add</button>
                <button onclick="openSubTab('deleteUser')">Delete</button>
            </div>
        
            <!-- Content of sub-tabs for the "Employees" tab -->
            <div id="addUser" class="sub-tab-content">
                <!-- Form for adding an employee -->
                <form id="addUserForm">
                    <label for="UserName">User name:</label>
                    <input type="text" id="UserName" placeholder="Enter user name" required>
        
                    <label for="UserEmail">Email:</label>
                    <input type="email" id="UserEmail" placeholder="Enter email" required>
                    
                    <label for="UserPassword">Password:</label>
                    <input type="password" id="UserPassword" placeholder="Enter password" required>
        
                    <input type="submit" value="Add user">
                </form>
            </div>
        
            <!-- Form for deleting an employee -->
            <div id="deleteUser" class="sub-tab-content">
                <form id="deleteUserForm">
                    <label for="UserIdToDelete">User ID to Delete:</label>
                    <input type="text" id="UserIdToDelete" placeholder="Enter user ID" required min="1">
                    <button type="submit">Delete user</button>
                </form>
            </div>
        </div>

        <div id="brend" class="tab-content" style="padding: 20px; max-width: 400px; margin: auto;">
            <form id="backgroundImageForm" style="text-align: center;">
                <input type="file" id="fileInput" accept="image/*" style="margin-bottom: 10px;">
                <button type="button" onclick="setBackgroundImage()" style="display: block; width: 100%; margin-bottom: 10px; height: 40px;">Set Background Image</button>
                
                <!-- Выравниваем выбор цвета и квадратик с цветом по высоте с кнопкой -->
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <input type="color" id="colorInput" onchange="updateColorPreview()" style="height: 40px; border: 1px solid #ccc; margin-right: 10px;">
                    <div id="colorPreview" style="width: 40px; height: 40px; border: 1px solid #000; margin-top: -10px;"></div>
                </div>
                <button type="button" onclick="setBackgroundColor()" style="display: block; width: 100%; height: 40px;">Set Background Color</button>
            </form>
        </div>
    
    <script>

const commonOptions = {
    positionClass: 'toast-top-right',
    progressBar: true,
    timeOut: 5000,
    closeButton: true,
    tapToDismiss: false,
    newestOnTop: false,
    showDuration: 300,
    hideDuration: 1000,
    titleClass: 'toast-title',
    messageClass: 'toast-message'
};

function openSubTab(subTabName) {
    var subTab = document.getElementById(subTabName);
    var subTabs = document.getElementsByClassName("sub-tab-content");
    var subTables = document.getElementsByClassName("sub-table-content");

    console.log("Opening subtab: " + subTabName);

    // Закрываем все подвкладки, кроме выбранной
    for (var i = 0; i < subTabs.length; i++) {
        if (subTabs[i] !== subTab) {
            subTabs[i].style.display = "none";
            console.log("Closing subtab: " + subTabs[i].id);
        }
    }

    // Закрываем все таблицы, кроме выбранной
    for (var i = 0; i < subTables.length; i++) {
        if (subTables[i] !== subTab) {
            subTables[i].style.display = "none";
            console.log("Closing subtable: " + subTables[i].id);
        }
    }

    // Переключаем видимость текущей подвкладки
    subTab.style.display = subTab.style.display === "block" ? "none" : "block";

    console.log("Subtab visibility toggled: " + subTab.style.display);

    // Вызываем функцию для загрузки и отображения всех заказов при открытии подвкладки "Просмотр"
    if (subTabName === 'viewRestaurants' && subTab.style.display === "block") {
        console.log("Loading restaurant data...");
        loadRestaurant();
    }
}

function openTab(tabName) {
    var tab = document.getElementById(tabName);
    var tabs = document.getElementsByClassName("tab-content");

    console.log("Opening tab: " + tabName);

    // Закрываем все вкладки, кроме выбранной
    for (var i = 0; i < tabs.length; i++) {
        if (tabs[i] !== tab) {
            tabs[i].style.display = "none";
            console.log("Closing tab: " + tabs[i].id);
        }
    }
    
    // Переключаем видимость текущей вкладки
    tab.style.display = window.getComputedStyle(tab).display === "block" ? "none" : "block";

    console.log("Tab visibility toggled: " + tab.style.display);
}


        function confirmDeleteAllEmployees() {
    var confirmDelete = confirm("Are you sure you want to remove all employees?");
    if (confirmDelete) {
        deleteAllEmployees();
    }
}

function deleteAllEmployees() {
    axios.post('/delete_all_employees')
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>All employees successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error(error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all employees', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

function confirmDeleteAllData() {
    event.preventDefault();
    var confirmDelete = confirm("Are you sure you want to delete all data?");
    
    if (confirmDelete) {
        axios.post('/delete_all_data')
            .then(response => {
                console.log(response.data);
                toastr.success('<i class="toast-icon fas fa-check-circle"></i>All data successfully deleted', 'Success', {
                    ...commonOptions,
                    iconClass: 'toast-success'
                });
            })
            .catch(error => {
                console.error(error.response.data);
                toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all data', 'Error', {
                    ...commonOptions,
                    iconClass: 'toast-error'
                });
            });
    }
}

function setBackgroundImage() {
    var fileInput = document.getElementById('fileInput');
    var file = fileInput.files[0];
    console.log("Файл", file)

    var formData = new FormData();
    if (file) {
        formData.append('backgroundImage', file);
    } else {
        formData.append('useDefault', true);
    }

    fetch('/upload_background_image', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        toastr.success(data.message, 'Success');
    })
    .catch(error => {
        toastr.error('An error occurred', 'Error');
    });
}

function convertColorToBlob(color, callback) {
    var canvas = document.createElement('canvas');
    canvas.width = 100; // Устанавливаем ширину канваса в 10 пикселей
    canvas.height = 100; // Устанавливаем высоту канваса в 10 пикселей
    var ctx = canvas.getContext('2d');
    ctx.fillStyle = color;
    ctx.fillRect(0, 0, 100, 100); // Заливаем всю область канваса выбранным цветом

    // Преобразуем канвас в Blob (бинарные данные)
    canvas.toBlob(function(blob) {
        callback(blob);
    }, 'image/png'); // Указываем формат Blob (в данном случае, PNG)
}

var colorChanged = false; // Добавляем флаг для отслеживания изменения цвета

function updateColorPreview() {
    var color = document.getElementById('colorInput').value;
    document.getElementById('colorPreview').style.backgroundColor = color;
    colorChanged = true; // Устанавливаем флаг как true при изменении цвета
}

function setBackgroundColor() {
    var colorInput = document.getElementById('colorInput');
    var selectedColor = colorInput.value;

    // Проверяем, изменился ли цвет
    if (colorChanged) {
        convertColorToBlob(selectedColor, function(blob) {
            var formData = new FormData();
            formData.append('backgroundImage', blob, 'color.png');

            fetch('/upload_background_image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                toastr.success(data.message, 'Success');
            })
            .catch(error => {
                toastr.error('An error occurred', 'Error');
            });
        });
    } else {
        // Если цвет не изменялся, устанавливаем дефолтный фон
        var formData = new FormData();
        formData.append('useDefault', true);

        fetch('/upload_background_image', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            toastr.success(data.message, 'Success');
        })
        .catch(error => {
            toastr.error('An error occurred', 'Error');
        });
    }
}


document.getElementById('changeStatusRestaurant').addEventListener('submit', function (event) {
    event.preventDefault();
    
    // Получаем значения из формы
    const RestaurantId = document.getElementById('RestaurantId').value;
    const newStatus = document.getElementById('newStatus').value;
 
    changeStatusRestaurant(RestaurantId, newStatus);
});

function changeStatusRestaurant(RestaurantId, newStatus) {
    axios.post('/change_status_restaurant', {
        RestaurantId: RestaurantId,
        newStatus: newStatus
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order status successfully changed', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error changing order status:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error changing order status', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

// Функция для удаления отдельного заказа
document.getElementById('deleteRestaurant').addEventListener('submit', function (event) {
        event.preventDefault();
        const RestaurantIdToDelete = document.getElementById('RestaurantIdToDelete').value;
        deleteRestaurant(RestaurantIdToDelete);
});

    function confirmDeleteAllRestaurants() {
    var confirmDelete = confirm("Are you sure you want to delete all restaurants?");
    if (confirmDelete) {
        deleteAllrestaurants();
    }
}

function deleteAllrestaurants() {
    axios.post('/delete_all_restaurants')
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>All orders successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error(error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting all orders', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

// Функция для удаления отдельного ресторана
function deleteRestaurant(RestaurantIdToDelete) {
    axios.post('/delete_restaurant', {
            RestaurantId: RestaurantIdToDelete
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully deleted', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error deleting order:', error.response.data);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting order', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

    document.getElementById('addRestaurantForm').addEventListener('submit', function (event) {
    event.preventDefault();  
    
    // Получаем значения из формы
const RestaurantName = document.getElementById('RestaurantName').value;
const Status = document.getElementById('Status').value;
const Image = document.getElementById('Image').value;

addRestaurant(Restaurant_name,Status,Image);
});

function addRestaurant(Restaurant_name,Status,Image) {
    axios.post('/add_restaurant', {
             Restaurant_name : Restaurant_name,
             Status: Status,
             Image : Image
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Order successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding order:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding order', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}


    document.getElementById('AddMenuItemForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Предотвращаем стандартное поведение формы (перезагрузка страницы)
    // Получаем значения из формы
    const MenuItemName = document.getElementById('MenuItemName').value;
    const MenuItemPrice = document.getElementById('MenuItemPrice').value; 
    const MenuIdForRestaurant = document.getElementById('MenuIdForRestaurant').value; 
    const MenuItemImageURL = document.getElementById('MenuItemImageURL').value; 
    const Status = document.getElementById('Status').value; 
    
    // Вызываем функцию для отправки запроса на добавление изделия
    addMenuItem(MenuItemName, MenuItemPrice,MenuIdForRestaurant,MenuItemImageURL ,Status);
});

// Функция для добавления меню
function addMenuItem(MenuItemName, MenuItemPrice,MenuIdForRestaurant,MenuItemImageURL, Status) {
    axios.post('/add_menu_item', {
            MenuItemName : MenuItemName,
            MenuItemPrice : MenuItemPrice,
            MenuIdForRestaurant : MenuIdForRestaurant,
            MenuItemImageURL : MenuItemImageURL, 
            Status : Status
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding product:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding product', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}

document.getElementById('addModelForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Предотвращаем стандартное поведение формы (перезагрузка страницы)

    // Получаем значения из формы
    const productIdForModel = document.getElementById('productIdForModel').value;
    const modelName = document.getElementById('modelName').value;
    const modelImageURL = document.getElementById('modelImageURL').value;
    const backImageModelURL = document.getElementById('backImageModelURL').value;

    // Вызываем функцию для отправки запроса на добавление модели
    addModel(productIdForModel, modelName, modelImageURL, backImageModelURL);
});

// Функция для добавления модели
function addModel(productIdForModel, modelName, modelImageURL, backImageModelURL) {
    axios.post('/add_model', {
            productIdForModel: productIdForModel,
            modelName: modelName,
            modelImageURL: modelImageURL,
            backImageModelURL: backImageModelURL
        })
        .then(response => {
            console.log(response.data);
            toastr.success('<i class="toast-icon fas fa-check-circle"></i>Model successfully added', 'Success', {
                ...commonOptions,
                iconClass: 'toast-success'
            });
        })
        .catch(error => {
            console.error('Error adding model:', error);
            toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding model', 'Error', {
                ...commonOptions,
                iconClass: 'toast-error'
            });
        });
}


function DeleteMenuItem() {
    var productIdToDelete = document.getElementById("MenuItemIdToDelete").value;

    fetch('/delete_menu_item', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            MenuItemId: MenuItemIdToDelete,
        }),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product successfully deleted', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

function deleteModel() {
    var modelIdToDelete = document.getElementById("modelIdToDelete").value;

    fetch('/delete_model', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            modelId: modelIdToDelete,
        }),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Model successfully deleted', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}


function deleteAllModels() {
    fetch('/delete_all_models', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>All models deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

function DeleteAllMenuItem() {
    fetch('/delete_all_menu_item', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>All products deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

    document.getElementById('ChangePriceItem').addEventListener('submit', function (event) {
    event.preventDefault();
    const MenuIdForRestaurant = document.getElementById('MenuIdForRestaurant').value;
    const MenuItemIdToModify = document.getElementById('MenuItemIdToModify').value;
    const MenuItemPrice = document.getElementById('MenuItemPrice').value;
    
    if (MenuIdForRestaurant && MenuItemIdToModify && MenuItemPrice) {
        ChangePriceItem(MenuIdForRestaurant, MenuItemIdToModify, MenuItemPrice);
    }
});

function ChangePriceItem(MenuIdForRestaurant, MenuItemIdToModify, MenuItemPrice) {
    axios.post('/change_price_item', {
        MenuIdForRestaurant: MenuIdForRestaurant,
        MenuItemIdToModify: MenuItemIdToModify,
        MenuItemPrice: MenuItemPrice
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Product quantity modified successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error modifying product quantity:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error modifying product quantity', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}
// Обработчик для формы добавления принта
document.getElementById('addPrintForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const printImageURL = document.getElementById('printImageURL').value;
        const printQuantity = document.getElementById('printQuantity').value;

        // Вызываем функцию для отправки запроса на добавление принта
        addPrint(printImageURL, printQuantity);
    });

    // Обработчик для формы удаления принта
    function deletePrint() {
    const printIdToDelete = document.getElementById("printIdToDelete").value;

    fetch('/delete_print', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            printId: printIdToDelete,
        }),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Print deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

    // Обработчик для формы удаления всех принтов
    function deleteAllPrints() {
    fetch('/delete_all_prints', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>All prints deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => console.error('Error:', error));
}

    // Обработчик для формы изменения оставшегося количества принта
    function modifyPrintQuantity() {
    const printIdToModify = document.getElementById('printIdToModify').value;
    const quantityToModify_prints = document.getElementById('quantityToModify_prints').value;

    if (printIdToModify && quantityToModify_prints) {
        modifyPrint(printIdToModify, quantityToModify_prints);
    }
}

    // Функция для отправки запроса на добавление принта
    function addPrint(printImageURL, printQuantity) {
    axios.post('/add_print', {
        printImageURL: printImageURL,
        printQuantity: printQuantity,
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Print added successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error adding print:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding print', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

 // Функция для отправки запроса на изменение оставшегося количества принта
function modifyPrint(printIdToModify, quantityToModify) {
    axios.post('/modify_print_quantity', {
        printId: printIdToModify,
        quantity: quantityToModify,
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Print quantity modified successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error modifying print quantity:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error modifying print quantity', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


    document.getElementById('addEmployeeForm').addEventListener('submit', async function (event) {
    event.preventDefault();
    
    // Получаем значения из формы
    const name = document.getElementById('employeeName').value;
        const phone = document.getElementById('employeePhone').value;
        const role = document.getElementById('employeeRole').value;
        const password = document.getElementById('employeePassword').value;
        // Теперь 'hashedPassword' содержит хэшированный пароль
        // Вызываем функцию для отправки запроса на добавление сотрудника
        addEmployee(name, phone, password, role);
    });

// Обработчик для формы удаления сотрудника
document.getElementById('deleteEmployeeForm').addEventListener('submit', function (event) {
    event.preventDefault();

    // Получаем значение из формы
    const employeeIdToDelete = document.getElementById('employeeIdToDelete').value;
    // Вызываем функцию для отправки запроса на удаление сотрудника
    deleteEmployee(employeeIdToDelete);
});

// Функция для отправки запроса на добавление сотрудника
async function addEmployee(name, phone, password, role) {
    axios.post('/add_employee', {
        name: name,
        phone: phone,
        password: password,
        role: role
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Employee added successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error adding employee:', error);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error adding employee', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}

function deleteEmployee(employeeId) {
    axios.post('/delete_employee', {
        employee_id: employeeId
    })
    .then(response => {
        console.log(response.data);
        toastr.success('<i class="toast-icon fas fa-check-circle"></i>Employee deleted successfully', 'Success', {
            ...commonOptions,
            iconClass: 'toast-success'
        });
    })
    .catch(error => {
        console.error('Error deleting employee:', error.response.data);
        toastr.error('<i class="toast-icon fas fa-times-circle"></i>Error deleting employee', 'Error', {
            ...commonOptions,
            iconClass: 'toast-error'
        });
    });
}


    </script>
</body>
</html>
