{% extends "base.html" %}

{% block app_content %}
<head>
    <title>Search restaurant</title>
</head>
<body>

<div class="container py-5" style="max-width: 1220px;">
    <div class="row row-cols-1 row-cols-md-2 mx-auto">
        {% for restaurant in restaurants %}
        <div class="col mb-4">
            <div>
                {% if restaurant.images|length == 1 %}
                <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}">
                    <img class="rounded img-fluid shadow w-100 fit-cover" src="{{ restaurant.images[0] }}" style="height: 300px;" alt="{{ restaurant.name }}"/>
                </a>
                {% elif restaurant.images|length == 2 %}
                    <div class="grid-container" style="grid-template-columns: repeat(2, 1fr);">
                        {% for image in restaurant.images %}
                            <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}">
                                <img class="grid-item rounded img-fluid shadow w-100 fit-cover" src="{{ image }}" style="height: 300px;" alt="{{ restaurant.name }}"/>
                            </a>
                        {% endfor %}
                    </div>
                {% elif restaurant.images|length == 3 %}
                    <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}">
                        <img class="rounded img-fluid shadow w-100 fit-cover" src="{{ restaurant.images[0] }}" style="height: 250px;" alt="{{ restaurant.name }}"/>
                    </a>
                    <div class="grid-container" style="grid-template-columns: repeat(2, 1fr); margin-top: 5px;">
                        <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}">
                            <img class="grid-item rounded img-fluid shadow w-100 fit-cover" src="{{ restaurant.images[1] }}" alt="{{ restaurant.name }}"/>
                        </a>
                        <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}">
                            <img class="grid-item rounded img-fluid shadow w-100 fit-cover" src="{{ restaurant.images[2] }}" alt="{{ restaurant.name }}"/>
                        </a>
                    </div>
                {% else %}
                {% endif %}
                <div class="py-4">
                    <span class="badge bg-primary mb-2">
                        {% if restaurant.status %}
                            Active
                        {% else %}
                            Inactive
                        {% endif %}
                    </span>
                    <a href="{{ url_for('main.menus_list', restaurant_id=restaurant.id) }}" class="text-decoration-none text-dark">
                        <h4 class="fw-bold">{{ restaurant.name }}</h4>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}