{% extends "base.html" %}

{% block app_content %}
<head>
    <title>Search restaurant</title>
</head>
<body>

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1070px;">
        {% for restaurant in restaurants %}
        <div class="col mb-4">
            <div>
                {% if restaurant.images|length == 1 %}
                    <img class="rounded img-fluid shadow w-100 fit-cover" src="{{ restaurant.images[0] }}" style="height: 250px;" alt="{{ restaurant.name }}"/>
                {% else %}
                    <div class="grid-container">
                        {% for image in restaurant.images %}
                            <img class="grid-item rounded img-fluid shadow w-100 fit-cover" src="{{ image }}" alt="{{ restaurant.name }}"/>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="py-4"><span class="badge bg-primary mb-2">{{ "Open" if restaurant.status else "Closed" }}</span>
                {% if restaurant.status %}
                    <a href="{{ url_for('main.menu_detail', restaurant_id=restaurant.id) }}" class="text-decoration-none text-dark">
                        <h4 class="fw-bold">{{ restaurant.name }}</h4>
                    </a>
                {% else %}
                    <h4 class="fw-bold">{{ restaurant.name }}</h4>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}